
{{ 'animate.css' | asset_url | stylesheet_tag }}
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'prettyPhoto.css' | asset_url | stylesheet_tag }}
{{ 'price-range.css' | asset_url | stylesheet_tag }}
{% schema %}
  {
    "name": "Product Card",
    "settings": [],
      "presets": [
    {
      "name": "Product Card"
     
    
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}


<div class="product-details">
  <div class="row">
			<div class="col-sm-5">
							<div class="view-product">
								<img src="images/product-details/1.jpg" alt="" />
								<h3>ZOOM</h3>
  							</div>
                <div id="similar-product" class="carousel slide" data-ride="carousel">
  						 <div class="carousel-inner">
  									<div class="item active">
  										  <a href=""><img src="images/product-details/similar1.jpg" alt=""/></a>
  										  <a href=""><img src="images/product-details/similar2.jpg" alt=""/></a>
  										  <a href=""><img src="images/product-details/similar3.jpg" alt=""/></a>
  									</div>
                                                       
  										
  										
    			</div>		
  								
  								   
  							
  
        		 </div>
          </div>
          <div class="col-sm-5">
              	<h3>ZOOM</h3>
          </div>
          <div class="col-sm-2">
              	<h3>ZOOM</h3>
          </div>  
						
</div>
</div>
	



{% javascript %}
{% endjavascript %}